<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <nav>
            <h1>TeleMedicine</h1>
            <button>Logout</button>
        </nav>
     <div id="section">
           <div id="box1" class="box">
            <img src="../Images/Diagnosis.jpg" alt="">
            <h2>diagnosis-chat</h2>
            <a href="diagnosis.html"><button>Open It</button></a>
        </div>
        <div id="box2" class="box">
            <img src="../Images/Doctor.jpg" alt="">
            <h2>doctor-details</h2>
            <a href="#"><button>Open It</button></a>
        </div>
        <div id="box3" class="box">
            <img src="../Images/Location.jpg" alt="">
            <h2>Nearest Medi-Help Centre</h2>
             <a href="navigation.html"><button>Open It</button></a>
        </div>
     </div>
    </main>
</body>
</html>